<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="masterEntities" connectionString="metadata=res://*/Empmangdata.csdl|res://*/Empmangdata.ssdl|res://*/Empmangdata.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3457B28677E5565;initial catalog=master;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>